In [2]:
import pandas as pd
music_data=pd.read_csv("music.csv")

In [22]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

 Here in gender 1 represents male and 0 represents female

In [6]:
df.columns

Index(['age', 'gender', 'genre'], dtype='object')

In [7]:
df.shape

(18, 3)

In [5]:
music_data.isnull().sum()

age       0
gender    0
genre     0
dtype: int64

# Train test split
- the input set is age and gender
- the output set is the genre

In [11]:
x=music_data.drop(['genre'],axis=1)

In [14]:
x.head()

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [12]:
y=music_data['genre']

In [15]:
y.head()

0    HipHop
1    HipHop
2    HipHop
3      Jazz
4      Jazz
Name: genre, dtype: object

In [16]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
#sklean.tree is a module 
#DecisionTreeClassifier is the class
#this class implements decision tree

In [18]:
model=DecisionTreeClassifier()

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

# Training the model

In [21]:
model.fit(x,y)
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

Making predictions for 21 year male and 22 year female

In [38]:
predictions=model.predict([[21,1],[22,0]])
predictions

array(['HipHop', 'Dance'], dtype=object)

Measuring the accuracy

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
predictions=model.predict(x_test)

We are allocating 20% ofthe data for testing


x_train,x_test ----> Are the input values for training and testing

y_train,y_test------> Are the output values for taining and testing

In [40]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,predictions)
score

1.0

The algorithm runs with 100 accuracy